
h2
{
    background-color:rgb(173, 195, 230);
}

.underlinetext
{
    text-decoration: underline;
}

#importantparagraph
{
    font-size: 32px;
    font-style: italic;
}

#importantparagraph2
{
    font-size: 32px;
    font-style: bold;
    background-color: rgb(173, 195, 230);
}

#subparagraph
{
    font-size: 20px;
    font-style: normal;
    background-color: rgb(173, 195, 230);
}