
h2
{
    background-color: red;
}

.underlinetext
{
    text-decoration: underline;
}

#importantparagraph
{
    font-size: 32px;
    font-style: italic;
}

#importantparagraph2
{
    font-size: 32px;
    font-style: italic;
}